# Default settings for iodine. This file is sourced from
# /etc/init.d/iodined
START_IODINED="true"
IODINED_ARGS="-c <%= scope.lookupvar("iodine::server::server_ip") %> <%= scope.lookupvar("iodine::server::domain") %>"
IODINED_PASSWORD="<%= scope.lookupvar('iodine::server::password') %>"
